.content-container {
    margin: 0px auto;
}
        
/* 桌面端内容样式 */
.desktop-content {
    /* background-color: #e3f2fd;
    border: 1px solid #bbdefb;
    padding: 20px; */
    border-radius: 12px;
    overflow: hidden;
}

#myCarousel {
    --f-arrow-pos: 10px;
    --f-arrow-bg: rgba(255,255,255,0.60);
    --f-arrow-hover-bg: rgba(255,255,255,1);
    --f-arrow-shadow: 0 4px 12px -2px rgb(50 50 93 / 15%);
    --f-arrow-color: #333;
    --f-arrow-width: 40px;
    --f-arrow-height: 40px;
    --f-arrow-svg-width: 20px;
    --f-arrow-svg-height: 20px;
    --f-arrow-svg-stroke-width: 2px;
    --f-arrow-border-radius: 50%;
     --f-thumb-opacity: "0.5";
    --f-thumb-hover-opacity: "1";
    --f-thumb-selected-opacity: "1";
    /* --f-carousel-slide-height: 600px, */
    /* height: 600px; */
}

#myCarousel .f-carousel__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#myCarousel img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


/* 移动端内容样式 */
.mobile-content {
    background-color: #f9fafc;
    /* border: 1px solid #ffe0b2; */
    padding: 12px;
    border-radius: 12px;
}
/* mobile 图片墙样式 */
.img-slider{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 12px;
    /* overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; */
}
.img-slider img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    scroll-snap-align: start;
    flex-shrink: 0;
    border-radius: 8px;
}
.img-slider img:hover{
    transform: scale(1.008);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}
/* .img-slider :nth-child(n+21){
    display: none;
} */


/* 页面标题区、下载按钮样式  */
.title-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.main-title{
    font-size: 24px;
    font-weight: 600;
    color: #11181c;
}
.pdf-download {
    width: 33.3%;
    min-width: 120px;
    display: flex;
    justify-content: center;
    padding: 6px 0px;
    background-color: #262626;
    color: rgba(255, 255, 255, 0.88);
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.pdf-download:hover{
    background-color: #020202;
    color: white;
    cursor: pointer;
}
.main-title a:hover {
    color: white;
}

/* 个人信息样式 */
.personal-info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    font-size: 13px;
    color: #333;
    line-height: 1.5;
    gap: 6px;
    margin-top: 24px;
}
.wraper {
    padding: 16px;
    background: #f9fafc;
    border-radius: 12px;
}
.span-title {
    font-weight: 600;
    font-size: 16px;
    color: #11181c;
    display: inline-block;
    padding: 12px 0px;
}
.span-desc {
    display: block;
    color: #444;
    padding: 0 12px;
}
.span-desc li {
    margin-bottom: 8px;
}
.span-contact .min-title {
    display: inline-block;
    font-weight: 600;
    margin-right: 0px;
}
.--column-1 {
    flex: 1.6;
}
    
.--column-2 {
    flex: 1;
}
.span-contact .contact-item {
    margin-bottom: 8px;
}

 @media screen and (max-width:600px) {
  .title-area {
    flex-direction: column;
  }
  .title-area .main-title {
    display: none;
  }
  .title-area .pdf-download {
    width: 100%;
    margin-top: 12px;
    padding: 8px 0px;
  }
}
@media screen and (max-width:828px) {
    .personal-info {
        flex-direction: column;
    }
}

