
#toc {
    z-index: 100;
    position: fixed;
    right: 0px;
    top: 80px;
    width: 200px;
    height: 84%;
    padding: 0px 10px 10px 48px;
    margin-bottom: 32px;
    display: none;
    background-color:rgba(255,255,255,0.96);
    font-size: 0.8rem;
    color:#afafaf;
    border-left: 1px solid #f0f0f0;
    overflow: scroll;
}

#toc a {
    color: var(--font-color-toc);
}
#toc a:hover {
    color: var(--text-secondary);
}

/* 设置toc的List的style */
#toc ol>li {
    padding: 0 0 8px 0px;
    list-style-type: cjk-ideographic;
}
 #toc ol>li ol {
    margin: 0;
}
#toc ol>li li  {
    padding: 0px;
    margin-left: 12px;
    list-style-type: none;
}
 #toc ol>li::before {
    content: none;
}


@media screen and (max-width: 560px) {
    #toc {
      font-size: .9em;
      width: 100%;
      height: 100%;
      left: 0px;
      top: 0px;
      bottom: 0px;
      padding-top: 100px;
    }
}
@media screen and (min-width: 561px) and (max-width: 1131px) {
    #toc{
    right: 0px;
    top: 0px;
    height: 100%;
    bottom: 0px;
    padding-top: 100px;
    box-shadow: -10px 4px 6px -10px rgba(38,38,38,0.08);
    }
}
@media screen and (min-width: 1132px) {
    #toc{
    display: block; 
  }
}


/* 隐藏toc滚动条 */
#toc::-webkit-scrollbar {
  display: none;
}
#toc {
    /* IE 10+ */
    -ms-overflow-style: none; 
    /* Firefox */
    overflow: -moz-scrollbars-none; 
}


/* toc盒子 */
.toc {
  margin: 10px 0 40px 6px;
}


/* 目录面包屑 */
.mini_toc {
  display: block;
  z-index: 1000;
  width: 36px;
  height: 36px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #f0f0f0;
  background-color: var(--white-color);
  text-align: center; 
  position: fixed;
  right:-1px;
  top: 44px;
  cursor: pointer;
  box-shadow: 0 2px 8px -3px rgba(0,0,0,0.2);
}
@media screen and (min-width: 1132px) {
    .mini_toc{
    display: none;
  }
}

.toc_icn{
    position: relative;
    height: 20px;
    width: 14px;
    margin: 10px auto;
    cursor: pointer
}
.toc_icn span{
    position: absolute;
    display: block;
    background-color: var(--text-tertiary);
    height: 2px;
    width: 14px;
    transition: all .25s ease-in-out;
    margin: 0 0 -1px 0;
}

.toc_icn span:nth-child(1){
      top: 0px;
  }
.toc_icn span:nth-child(2){
      top: 8px;
  }
.toc_icn span:nth-child(3){
      top: 8px;
  }
.toc_icn span:nth-child(4){
      top: 16px;;
  }
.toc_icn span:nth-child(1).op{
      top: 8px;
      transition: all .15s ease;
      transform: scaleX(0);
  }
.toc_icn span:nth-child(2).op{
      transform: rotate(45deg);
  }
.toc_icn span:nth-child(3).op{
      transform: rotate(-45deg);
  }
.toc_icn span:nth-child(4).op{
      top: 8px;
      transition: all .15s ease;
      transform: scaleX(0);
  }


.mini_toc:hover {
    box-shadow: 0 4px 12px -3px rgba(0,0,0,0.2);
}
